.top-brand-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    
}

/* responsive */
@media only screen and (max-width:688px) {
    .top-brand-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .top-brand-container{
        grid-template-columns: repeat(4, 1fr);
    }
}