.product{
    border-radius:20px ;
}
.image-container{
    overflow: hidden;
}
.product img{
    width: 100%;
    transition: transform 5s, filter 3s ease-in-out;
}
.product img:hover{
    transform: scale(1.5);
    box-sizing: content-box;
}
.booking-price{
    margin-top: 10px;
    display:flex;
    color:rgb(121, 121, 119);
    justify-content: space-between;
}